body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
 a {
    color: #00B7FF;
  }
  
  .middle {
    display: flex;
    flex-direction: row;
    width: 100%;
  background-color: lightblue;
  text-align: left;

}
.fullPageBox {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.leftHalf {
  flex: 1;
  padding: 15px;
  height: 100px;
}
.rightHalf {
  flex:5;
  padding: 15px;
  height: 100px;
}
.header, .footer {
  background-color: cornflowerblue;
}
